<h1>Shops</h1>
    <div class="card mb-2 m-3">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img class="card-image-top" src="<%= @shop.image %>" alt="" style="width:250px ; height: 300px">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title" >
                        Name :
                    </h5>
                    <%= @shop.name %>
                    <div class="form-group">
                    
        <label for="sel1">Select item quantity :</label>
            <select class="form-control" id="sel1" style="width 10px" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            </div>
                <div>
                <h5>Price :</h5> <%= @shop.price%> SR
                </div>
                <div>
                <h5>Description:</h5>  <%= @shop.description %>
                </div>
            <div>
                    <button type="button" class="btn btn-success">Add to Cart </button>
            </div>
        </div>
    </div>


